html, body {
    height: 100%;
  }
  body {
    display: flex;
    margin: 0;
    font: 100% / 1.5 serif;
    background-color: hsl(0, 0%, 95%);
    width: 85%;
    margin: auto;
    color: hsl(0, 0%, 20%);
  }
.container {
  max-width: 1200px;
  margin: 5 auto;
}
.title {
    background: linear-gradient(hsl(300, 50%, 20%), hsl(300, 50%, 10%));
    padding: 2rem 0.5rem;
    text-align: center;
    color: hsl(300, 50%, 95%);
    font-family: serif; 
    margin-left: 0px;
  }
.introduction   {
    margin: 1.5rem;
    font-family: serif;
    margin-left: 20px;
}
.instructions-header {
    margin: 1rem;
    font-family: serif;
  }
.instructions {
    margin-top: 0.25rem;
    background-color: white;
    padding: 1rem;
    font-family: "Times New Roman", serif;
  }

.button-primary {
    background-color: hsl(300, 50%, 20%);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-family: serif
    font-weight: 700;
    justify-content: center;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 100px;
    position: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 1.5rem;
  }
  
  .button-primary:focus {
    outline: 0;
  }
  
  .button-primary:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .button-primary:hover:after {
    bottom: 2px;
    left: 2px;
  }
  
  @media (min-width: 768px) {
    .button-primary {
      padding: 5px 10px;
    }
  }

  .button-secondary {
    background-color: hsl(300, 50%, 20%);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #fffdfd;
    display: inline-block;
    font-family: serif
    font-weight: 700;
    justify-content: center;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 100px;
    position: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 1.5rem;
    margin-left: 2rem
  }
  
  .button-secondary:focus {
    outline: 0;
  }
  
  .button-secondary:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
  }
  
  .button-secondary:hover:after {
    bottom: 2px;
    left: 2px;
  }
  
  @media (min-width: 768px) {
    .button-primary {
      padding: 5px 10px;
    }
  }

form {
    margin-top: 30px;
    font-size: smaller;
}
