html, body {
    height: 100%;
  }
  body {
    display: flex;
    margin: 0;
    font: 100% / 1.5 sans-serif;
    background-color: hsl(0, 0%, 95%);
    width: 85%;
    max-width: 48rem;
    margin: auto;
    color: hsl(0, 0%, 20%);
  }
.title {
    background: linear-gradient(hsl(300, 50%, 20%), hsl(300, 50%, 10%));
    padding: 2rem 0.5rem;
    text-align: center;
    color: hsl(300, 50%, 95%);
    font-family: serif; /* Change font family to serif */
  }
.introduction   {
    margin: 1.5rem;
    font-family: serif; /* Change font family to serif */
}
.instructions-header {
    margin: 1.5rem;
    font-family: serif; /* Change font family to serif */
  }
.instructions {
    margin-top: 0.5rem;
    background-color: white;
    padding: 1.5rem;
    font-family: "Times New Roman", serif;
  }
/* Primary Button (I'm ready) */
.button-primary {
    display: inline-block; /* Add this line */
    background: linear-gradient(to bottom, hsl(221, 44%, 34%), hsl(293, 52%, 27%));
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    font-family: serif; /* Change font family to serif */
}

.button-primary:hover {
    background: linear-gradient(to bottom, hsl(293, 52%, 27%), hsl(221, 44%, 34%));
}

/* Secondary Button (I'm not ready) */
.button-secondary {
    display: inline-block; /* Add this line */
    background: linear-gradient(to bottom, hsl(94, 100%, 18%), hsl(161, 100%, 20%));
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-family: serif; /* Change font family to serif */
}

.button-secondary:hover {
    background: linear-gradient(to bottom, hsl(161, 100%, 20%), hsl(94, 100%, 18%));
}

form {
    margin-top: 30px;
}