html, body {
    height: 100%;
  }
.title {
    background: linear-gradient(hsl(300, 50%, 20%), hsl(300, 50%, 10%));
    padding: 2rem 0.5rem;
    text-align: center;
    color: hsl(300, 50%, 95%);
    font-family: serif;
  }
.playlistName {
    font-size: larger;
}
table.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}
table.table th, table.table td {
    border: 1px solid hsl(0, 0%, 0%);
    padding: 8px;
    text-align: left;
    font-family: serif;
}
table.table th {
    background-color: #f2f2f2;
}
table.table tr:nth-child(even) {
    background-color: #f2f2f2;
}
table.table tr:hover {
    background-color: hsl(300, 50%, 20%);
    color: white
}
table.table thead tr:hover {
    background-color: initial;
    color: initial;
}
