html, body {
    height: 100%;
  }
  body {
    display: flex;
    margin: 0;
    font: 100% / 1.5 serif;
    background-color: hsl(0, 0%, 95%);
    width: 85%;
    margin: auto;
    color: hsl(0, 0%, 20%);
  }
.container {
  max-width: 1200px;
  margin: 5 auto;
}
.title {
    background: linear-gradient(hsl(300, 50%, 20%), hsl(300, 50%, 10%));
    padding: 2rem 0.5rem;
    text-align: center;
    color: hsl(300, 50%, 95%);
    font-family: serif;
  }
.genre-selection {
    margin-top: 250px;
    font-family: serif;
    margin-left: 35px;
}
.user-input-form label {
    display: block;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: serif;
    margin-left: 65px;
}
.user-input-form input {
    margin-bottom: 20px;
    margin-left: 65px;
}
