<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Music Generator</title>
</head>
<body>
    <h1 class="title">Welcome!</h1>
    <div class="introduction">
        <p><em>Welcome to the song selector.</em></p>
        <p>I'm Bertie the Bot and I'm here to help you create a personalized mood-based playlist!</p>
    </div>
    <div class="instructions-header">
        <p>Here are the instructions:</p>
        <div class="instructions">
            <p>I will ask you a series of questions. The questions come in pairs - the first one will ask you for the lower bound and the second will ask you for the upper bound. This means that you will be providing a range of numbers. Please don't make this range too small (I recommend a range of around 20 to 40) as I may not be able to find the perfect song(s) for you if it is!</p>
            <p>I hope that makes sense and that you're ready to start the quiz!</p>
        </div>
        <div class="button-group">
            <a href="#" class="button button-primary" id="ready-button">I'm ready</a>
            <a href="#" class="button button-secondary" id="not-ready-button">I'm not ready</a>
        </div>
        <p id="response-text"></p>
    </div>
        <form method="POST">
            <label for="name">Enter Your Name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Submit</button>
        </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
